.nav
{
    padding: 10px;

}
.nav ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: #98e5f4;
    align-items: center;

}
.nav a
{
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
    background-color: lightcyan;
}

.nav a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: lightcoral;
    transform: scaleX(0);
    transition: transform 0.3s ease;

  }
.navbar1 a:hover::after 
{
    width: 100%;
    transform: scaleX(1);
}

.nav li {
    display: inline-block;
    background-color: white;

  }

.nav .dropdown-content
{
    display: none;

}
.nav .dropdown:hover .dropdown-content
{
    display: block;
    position: absolute;
    background-color: pink;
    min-width: 150px;
    z-index: 1;
}
 


