nav ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #83def5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items : center;

}

nav a{
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
   
