.nav
{
    padding: 10px;

}
.nav ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: #98e5f4;
    align-items: center;

}
.nav a
{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    display: block;
}
.nav .dropdown-content
{
    display: none;

}
.nav .dropdown:hover .dropdown-content
{
    display: block;
    position: absolute;
    background-color: pink;
    min-width: 150px;
    z-index: 1;
}
