body{
    min-height: 800px;
    border: 8px solid black;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: safe;

}
.box{
    height: 100px;
    width: 100px;
    background-color: red;
    font-size: 30px;
    border: 1px solid black;
    text-align: center;

}