body{
    min-height: 100vh;
    border: 10px solid yellowgreen;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    
}
.box{
    width: 100px;
    height: 100px;
    background-color: purple;
    font-size: 20px;
}